$bg-color: #111111;
$gradient-purple: #6C1ACE;
$gradient-blue: #79D1FF;

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

@font-face {
  font-family: 'Akt';
  src: url('../../../fonts/akt/Akt-Regular.ttf') format('ttf'),
       url('../../../fonts/akt/Akt-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akt-Bold';
  src: url('../../../fonts/akt/Akt-Bold.ttf') format('ttf'),
       url('../../../fonts/akt/Akt-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
  width: 100%;
}

body {
  font-family: 'Akt', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-color;
  position: relative;
  
  &::before,
  &::after {
    content: '';
    position: fixed;
    width: 850px;
    height: 850px;
    border-radius: 50%;
    filter: blur(90px);
    opacity: 0.5;
    pointer-events: none;
    z-index: -1;

    @media (max-width: $tablet) {
      width: 500px;
      height: 500px;
      filter: blur(70px);
    }

    @media (max-width: $mobile) {
      width: 350px;
      height: 350px;
      filter: blur(50px);
    }
  }
  
  &::before {
    bottom: -200px;
    left: -200px;
    background: radial-gradient(circle, $gradient-blue 20%, $gradient-purple 90%, transparent 30%);

    @media (max-width: $tablet) {
      bottom: -150px;
      left: -150px;
    }

    @media (max-width: $mobile) {
      bottom: -100px;
      left: -100px;
    }
  }
  
  &::after {
    top: -500px;
    right: -400px;
    background: radial-gradient(circle, $gradient-blue 20%, $gradient-purple 80%, transparent 30%);

    @media (max-width: $tablet) {
      top: -300px;
      right: -250px;
    }

    @media (max-width: $mobile) {
      top: -200px;
      right: -150px;
    }
  }
}